@model IEnumerable<TuEscuela.Models.Carrera>
@{
    ViewBag.Title = "Carreras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carreras</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">IdCarrera</th>
            <th scope="col">Nombre Carrera</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCarrera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCarrera)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "DetallesCarrera", "Administracion", new { id = item.IdCarrera }, null)
                </td>
            </tr>
        }
    </tbody>

</table>